# Python
__pycache__/
*.py[cod]
*.pyo
venv/
.venv/
env/

# Environment files
.env
.env.*

# Node
node_modules/
dist/

# Build / cache
.vite/
.cache/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
